.contact{
    padding: 10%;
    margin: 0 auto;
    cursor: pointer;
    justify-items: center;

    .email-icon{
        width: 15%;
        display: block;
        margin: auto;
    }

    p{
        font-size: 4vw;
        text-align: center;

    }
}

.contact:hover{
    background-color: blanchedalmond;
}